body, html { margin: 0; padding: 0; }

body { font-family: sans-serif; color: #2b2b2b; background: #BCF7D4; padding: 30px }
a { color: black; }
a:hover { color: red; }

#container { }

#header { text-align: center; }
#header h1 { }
#header img { height: 200px; }

#navigation { background-color: white; padding: 20px; border-radius: 20px; }

#main { max-width: 500px; margin: 0 auto; margin-top: 50px; word-wrap: break-word; line-height: 25px; color: #2b2b2b; }
#main h2 { }
#main p { }

#footer { display: none; }

#socialmedia { overflow: hidden; }
#socialmedia div { display: block; margin-top: 10px; }
#socialmedia .google { }
#socialmedia .twitter { }
#socialmedia .facebook { }
